.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica;
}

.about-title {
    margin-top: 70px;
    /* text-align: center; */
    font-weight: bold;
}

.project-title {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 70px;
    text-align: center;
}

.credits {
    display: flex;
    flex-direction: row;
}

.individual {
    margin: 15px;
    width: 240px;
}

img {
    width: 240px;
    margin-bottom: 15px;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40em;
}
