.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-title {
    margin-top: 70px;
    margin-bottom: 75px;
    font-size: 4.5em;
    font-weight: 300;
    font-stretch: extra-condensed;
    
    background-image:
    linear-gradient(90deg,mediumblue, lightblue);
    background-clip: text;
    color: transparent;
    text-align: center;
}

span {
    color:  rgb(25, 118, 210);
}

.names {
    color: rgb(25, 118, 210);
    font-family:'Barlow Condensed', sans-serif;
    font-size: x-large;

}

.credits {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    line-height: 28px;
}

.person-links {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.project-title {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 70px;
    text-align: center;
}

.credits {
    display: flex;
    flex-direction: row;
}

.individual {
    margin: 15px;
    width: 240px;
}

img {
    width: 230px;
    height: 290px;
    margin-bottom: 15px;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40em;
}

.project-title {
    padding-top: 65px;
    padding-bottom: 12px;
    font-size: 4em;
    line-height: 68px;
}

@media (max-width : 1060px) {
    .credits {
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        width: 200px;
        height: 250px;
    }
    .individual {
        border-bottom: 2px solid #1976d2;
        flex-wrap: wrap;
        padding: 20px 20px 5px 18px;
    }
}
